/* Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

These are just the design sizes. 
Ensure content is responsive and meets WCAG requirements 
by testing the full range of screen sizes from 320px to 
large screens. */

/* Colors
White: hsl(0, 0%, 100%)
Light gray: hsl(212, 45%, 89%)
Grayish blue: hsl(220, 15%, 55%)
Dark blue: hsl(218, 44%, 22%) */

/* Typography
Body Copy
Font size (paragraph): 15px
Font
Family: Outfit
Weights: 400, 700 */
:root {
  --primary-color: hsl(212, 45%, 89%);
  --secondary-color: hsl(0, 0%, 100%);
  --text-color: hsl(220, 15%, 55%);
  --shadow-color: #5a75ce;
  --font-primary: "Outfit", sans-serif;
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  font-family: var(--font-primary);
}

.container {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 30px 0px var(--shadow-color);
}

img {
  max-width: 350px;
  border-radius: 15px;
}

h1,
p {
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  padding: 20px;
}

p {
  font-size: 19px;
  font-weight: 400;
  color: var(--text-color);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
